<div id="container">
    <div id="tenis">
        <a routerLink="/tenis">
            <img src="../../assets/tenis2.jpg">
            <div id="middleButtonTenis">
                <a routerLink="/football" class="neonButton">Tenis</a>
            </div>
        </a>
    </div>
    <div id="basketball">
        <a routerLink="/basketball">
            <img src="../../assets/basketball2.png">
            <div id="middleButtonBasketball">
                <a routerLink="/football" class="neonButton">Koszykówka</a>
            </div>
        </a>
    </div>
    <div id="football">
        <a routerLink="/football">
            <img src="../../assets/football3.jpg">
            <div id="middleButtonFootball">
                <a routerLink="/football" class="neonButton">Piłka Nożna</a>
            </div>
        </a>
    </div>
</div>